/* header{
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.nav-bar-nav{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-bar-item{
    display: inline;
}
a{
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
} */