.navbar{
	background-color: rgb(141, 191, 65);
}

.navbar a{
	font-size: 1.2rem;
	font-weight: 500;
}

.dropdown-menu{
    background-color: rgb(141, 191, 65);
    border-radius: 0;
    padding-bottom: 0.50rem;
}

.dropdown-menu[data-bs-popper]{
    top: 4.3rem;
	border: none;
}

.dropdown-item:hover, .dropdown-item:focus{
    background-color: rgb(49, 53, 61);
	color: rgb(255, 255, 255);
} 

.navbar-toggler{
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 1.5rem;
}

.navbar-toggler:focus{box-shadow: 0 0 0 0;}

.no-margin{
    margin-right:-0.75rem;
    margin-left: -0.75rem; 
}

.boasvindas{
	background-image: url(../imagens/banner.jpg);
	background-size: cover;
    background-position: center;
	text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.service{
	border-top: 1rem solid rgb(49, 53, 61);
	border-bottom: 1rem solid rgb(49, 53, 61);
	background-color: rgb(224, 224, 224);
}

.carousel-indicators [data-bs-target] {
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	--bs-carousel-indicator-active-bg:#198754;
}

.filamentos img{
	width: 50%;
	padding-right: 0.75rem;
}

.scrollspy{
	height:20rem;
}

.faq{
	background-image: url(../imagens/faq.png);
	background-size: cover;
	background-attachment: fixed;
}

.accordion-button:focus{
	box-shadow: none;
}

.fatiadores{
	background-image: url(../imagens/fatiador-bg.png);
	background-size: cover;
}

.footer{
	background-color: rgb(141, 191, 65);
}

.nav-pills .nav-link{
	color: rgb(49, 53, 61);
	font-weight: bolder;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover{
	color: rgb(255, 255, 255);
	background-color: rgb(141, 191, 65); 
}
