:root{
    --verde:rgb(141,191,65);
    --cinza: rgb(49,53,61);
    --branco: rgb(255,255,255);
}

.navbar{
    background-color: var(--verde);
}

.navbar a{
    font-weight: 500;
    font-size: 1.3rem;
}

.navbar-toggler{border: none; font-size: 1.5rem;}
.navbar-toggler:focus{box-shadow: none;}

.dropdown-menu{
    background-color: var(--verde);
    border: none;
}

.dropdown-item:hover{
    background-color: var(--cinza);
    color: var(--branco);
}

/* start boasvindas */
.boasvindas{
    background-image: url(../imagens/banner.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px var(--branco);
    /* padding-left: -0.75rem;
    padding-right: -0.75rem; */
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

/* .container-fluid{
    padding-left: 0;
    padding-right: 0;
} */

.service{
    border-top: 1em solid var(--cinza);
    border-bottom: 1em solid var(--cinza);
    background-color: rgb(160, 159, 159);
}